<div class="container-fluid mt-4">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">AparClic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="[ '/empleado' ]" routerLinkActive="active">Empleados</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="[ '/parqueaderos' ]" routerLinkActive="active">Parqueaderos</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="[ '/login' ]" routerLinkActive="active">Cerrar sesión</a>
                        </li>
                    </ul>
        
                </div>
            </div>
        </nav>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="page-header">
                <h1>
                    <small>Parqueaderos</small>
                </h1>
            </div>
        </div>
    </div>
    <!--CONTENIDO-->
    <div class="">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Registrar parqueaderos
        </button>
    </div>

    <!--INICIA TABLA-->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Pisos</th>
                    <th scope="col">Cantidad de espacios</th>
                    <th scope="col">cantidad disponibles</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of parqueaderosList">
                    <td>{{item.pisos}}</td>
                    <td>{{item.cantEspacios}}</td>
                    <td>{{item.cantDisponibles}}</td>
                    <td><button type="button" class="btn btn-primary"                
                            (click)="toggleEditParqueaderos(item._id)">
                                              <i class="bi bi-pencil-square"></i>
                                            </button></td>
                    <td><button type="button" class="btn btn-primary" (click)=" deleteParqueaderosEntry(item._id)">
                                              <i class="bi bi-trash"></i>
                                            </button></td>
                </tr>
        </table>
    </div>
    <!--TERMINA TABLA-->

    <form  *ngIf="editableParqueaderos" class="card p-2" (ngSubmit)="updateParqueaderosEntry()"
        [formGroup]="parqueaderosForm">
          <div class="mb-3">
                <label for="pisos" class="form-label">Pisos</label>
                <input type="number" class="form-control" id="pisos"       placeholder="Numero de pisos"
                formControlName="pisos">
              </div>
          <div class="mb-3">
                <label for="cantEspacios" class="form-label">Cantidad de espacios</label>
                <input type="number" class="form-control" id="cantEspacios" placeholder="Cantidad de espacios"
                formControlName="cantEspacios">
              </div>
          <div class="mb-3">
                <label for="cantDisponibles" class="form-label">Cantidad de espacios disponibles</label>
                <input type="number" class="form-control" id="cantDisponibles"
                placeholder="Cantidad de espacios disponibles" formControlName="cantDisponibles">
              </div>
          <div class="input-group justify-content-center md-12">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
              </div>
    </form>


    <!-- Modal New Animal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                      <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo parqueadero</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                      <div class="modal-body">
                            <form class="card p-2" (ngSubmit)="newParqueaderoEntry()" [formGroup]="parqueaderosForm">
                                  <div class="mb-3">
                                        <label for="pisos" class="form-label">Pisos</label>
                                        <input type="text" class="form-control" id="pisos"              
                                placeholder="Numero ded pisos" formControlName="pisos">
                                      </div>
                                  <div class="mb-3">
                                        <label for="cantEspacios" class="form-label">Cantidad de espacios</label>
                                        <input type="text" class="form-control" id="cantEspacios"
                                placeholder="Cantidad de espacios"             formControlName="cantEspacios">
                                      </div>
                                  <div class="mb-3">
                                        <label for="cantDisponibles" class="form-label">Cantidad disponibles</label>
                                        <input type="text" class="form-control" id="cantDisponibles"              
                                placeholder="Contidad de espacios disponibles" formControlName="cantDisponibles">
                                      </div>
                                  <div class="input-group justify-content-center md-12">
                                        <button type="submit" class="btn btn-primary"
                                data-bs-dismiss="modal">Guardar</button>
                                      </div>
                                </form>
                          </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                    </div>
             
        </div>
    </div>

</div>