<div class="container-fluid mt-4">
    <div class="row">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">AparClic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/cliente' ]" routerLinkActive="active">Clientes</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="[ '/vehiculo' ]" routerLinkActive="active">Vehiculos</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="[ '/salidavehiculo' ]" routerLinkActive="active">Salida</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="[ '/login' ]" routerLinkActive="active">Cerrar sesión</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


        <div class="col-md-12 d-flex justify-content-center">
            <div class="page-header">
                <h1>
                    <small>Clientes</small>
                </h1>
            </div>
        </div>
    </div>
    <!--CONTENIDO-->
    <div class="">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Registrar cliente</button>
    </div>
    <!--INICIA TABLA-->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Telefono</th>
                    
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of clienteList">
                    <td>{{item.nombre}}</td>
                    <td>{{item.cedula}}</td>
                    <td>{{item.telefono}}</td>
                    <td><button type="button" class="btn btn-primary"
                         (click)="toggleEditCliente(item._id)">
                         <i class="bi bi-pencil-square"></i>
                         </button></td>  
                    <td><button type="button" class="btn btn-primary" (click)="deleteClienteEntry(item._id)">
                           <i class="bi bi-trash"></i>
                        </button></td>                          
                </tr>
        </table>
    </div>
    <!--TERMINA TABLA-->

    <form *ngIf="editableCliente" class="card p-2" (ngSubmit)="updateClienteEntry()" [formGroup]="clienteForm">
         <div class="mb-3">
         <label for="nombre" class="form-label">Nombre</label>
         <input type="text" class="form-control" id="nombre"
         placeholder="Nombre del cliente" formControlName="nombre">
         </div>
         <div class="mb-3">
         <label for="cedula" class="form-label">Cedula</label>
         <input type="text" class="form-control" id="cedula" placeholder="Cedula del cliente" formControlName="cedula">
         </div>
         <div class="mb-3">
         <label for="telefono" class="form-label">Telefono</label>
         <input type="text" class="form-control" id="telefono" placeholder="Telefono del cliente" formControlName="telefono">
         </div>
         <div class="input-group justify-content-center md-12">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
         </div>
        </form>
        
    <!-- Modal New Cliente-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
     <div class="modal-content">
     <div class="modal-header">
     <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo cliente</h1>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
     <form class="card p-2" (ngSubmit)="newClienteEntry()" [formGroup]="clienteForm">
     <div class="mb-3">
     <label for="nombre" class="form-label">Nombre</label>
     <input type="text" class="form-control" id="nombre" 
     placeholder="Nombre del cliente" formControlName="nombre">
     </div>
     <div class="mb-3">
     <label for="cedula" class="form-label">Cedula</label>
    <input type="text" class="form-control" id="cedula" placeholder="Cedula del cliente"
     formControlName="cedula">
     </div>
     <div class="mb-3">
     <label for="telefono" class="form-label">Telefono</label>
     <input type="text" class="form-control" id="telefono" 
      placeholder="Telefono del cliente" formControlName="telefono">
     </div>
     <div class="input-group justify-content-center md-12">
     <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
     </div>
     </form>
     </div>
     <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
     </div>
     </div>
     </div>
    </div>
    
</div>
